.user{
    margin-top: 30px;
    box-shadow: grey 5px 5px 10px;
    border: 2px solid black;
    height: 150px;
    width: 80%;
}
.user:hover{
    background-color: rgb(209, 237, 237);
}
.user img{
    height: 120px;
}

